
/*
white: #eff0f1
mid-grey: #31363b
light-blue: #3daee9
dark-grey: #232629
*/


/* Base widget properties */
QWidget {
    color: #eff0f1;
    background-color: #31363b;
    selection-background-color: #3daee9;
    /* selection-color: #eff0f1; */
    background-clip: border;
    border-image: none;
    border: 0px transparent black;
    outline: 0;
}

QWidget:disabled {
    color: #809196;
}

/* Solid button like interactibles */
QComboBox,
QPushButton {
    color: #eff0f1;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #494e53, stop: 1 #3d4246);
    border-width: 1px;
    border-color: #51565c;
    border-style: solid;
    border-radius: 2px;
    outline: none;
}
QComboBox:hover,
QPushButton:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #5b6269, stop: 1 #454a4f);
}
/*
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    border: 1px solid #232629;
}
*/

/* Text editors */
QLineEdit,
QPlainTextEdit {
    background-color: #232629;
    color: #eff0f1;
    border-radius: 2px;
    border: 1px transparent #76797C; /* modified from solid to transparent */
}
QLineEdit:focus,
QLineEdit:focus {
    border: 1px solid #3daee9;
}

